h3 {
    color: black;
    text-align: center;
}

body {
    background-color: white;
}

p {
    color: grey;
    text-align: center;
}
/*universal selector for margin & padding, ask for more*/
* {
    margin: 5;
    padding: 0;
}
/* class selectors below*/
.section-subheader {
    color: black;
    font-size: 21px;
    text-align:center;
    font-weight: lighter;
}

.section-header {
    color: #5E8BF2;
    font-size: 26px;
    text-align:center;
    font-weight: lighter;
    font-style:
}

.table-header {
    color:#A7C1EE;
    font-size: 26px;
    font-weight: lighter;
    text-align: center;
}

.section-content {
    color:gray;
    font-size: 14px;
    text-align:center;
    font-weight: lighter;
}

.table-container {
  width: 100%;
}

.table {
  color:#A7C1EE;
  font-size: 14px;
  text-align:center;
  width: 50%;
  margin-left: 25%;
}
.list {
  color:gray;
  font-size: 14px;
  text-align:center;
  font-weight:lighter;
}
/*Across each of your pages, your website must include:
At least 3 type selectors.
At least 3 ID selectors.
At least 1 attribute selector.
At least 1 pseudo-class or pseudo-element selector.
At least 1 combinator.
Colors must mesh, fonts (types, sizes, and styles)
 that are appealing*/
